body {
  margin: 1.5em;
  font-family: 'DM Sans';
}

.shapeimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 20%;
  -webkit-animation: introLoad 2s forwards;
          animation: introLoad 2s forwards;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header svg .iconify {
  width: 5.5em;
  height: 4em;
  margin-top: -.6em;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  height: 100vh;
  width: 50%;
  z-index: 999;
  text-transform: uppercase;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}

nav ul a {
  color: black;
  padding: .75em 2em;
  display: block;
  width: 100%;
}

nav ul a:hover {
  background: #3a3232;
}

.open-nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.hero h1 {
  font-size: 3rem;
  margin-top: 2em;
  line-height: 3.3rem;
}

.hero .subhead {
  font-size: 1.4rem;
}

.hero img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 11em;
}

.hero .start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  position: absolute;
  width: 143px;
  height: 43px;
  left: 10px;
  top: 650px;
  /* Logo-primary */
  background: -webkit-gradient(linear, left top, right top, from(#FF8601), color-stop(41.32%, #FF8801), color-stop(61.74%, #FF9001), color-stop(77.57%, #FF9D01), color-stop(90.96%, #FFB000), to(#FFC100));
  background: linear-gradient(90deg, #FF8601 0%, #FF8801 41.32%, #FF9001 61.74%, #FF9D01 77.57%, #FFB000 90.96%, #FFC100 100%);
  border-radius: 10px;
}

.hero .meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  position: absolute;
  width: 189px;
  height: 43px;
  left: 160px;
  top: 650px;
  border-radius: 10px;
}

.more-info {
  margin-top: 180px;
}

.more-info .title {
  font-weight: bold;
  font-size: 1.25em;
}

.more-info .desc {
  line-height: 1.5rem;
}

.more-info img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 11em;
}

.install {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  position: static;
  width: 135px;
  height: 43px;
  left: 573px;
  top: 0px;
  /* Logo-primary */
  background: -webkit-gradient(linear, left top, right top, from(#FF8601), color-stop(41.32%, #FF8801), color-stop(61.74%, #FF9001), color-stop(77.57%, #FF9D01), color-stop(90.96%, #FFB000), to(#FFC100));
  background: linear-gradient(90deg, #FF8601 0%, #FF8801 41.32%, #FF9001 61.74%, #FF9D01 77.57%, #FFB000 90.96%, #FFC100 100%);
  border-radius: 10px;
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 50px;
}
/*# sourceMappingURL=revyu.css.map */